# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyc
*.pyd
*.so
*.psd
*.psb
*.db
*.csv
*.xlsx


# Distribution / packaging
.Python
bin/
obj/
data/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDE
.idea/
.vscode/
.vs/
*.swp
*.swo

# Environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# Logs and databases
*.log
*.sqlite

# OS generated
.DS_Store
data.db
Thumbs.db
web_crawlers/__pycache__/
/Macro-Data-Dashboard.GUI/Macro-Data-Dashboard.GUI/bin/
/Macro-Data-Dashboard.GUI/Macro-Data-Dashboard.GUI/obj/
/Macro-Data-Dashboard.GUI/bin/
/Macro-Data-Dashboard.GUI/obj/
/logs
/gui/dwfunction
gui/ui_main_ui.py
gui/subwindows/sub_resources_rc_rc.py
gui/subwindows/ui_prestart_ui.py
gui/subwindows/ui_tableSettings_ui.py
gui/subwindows/ui_oneChartSettings_ui.py
gui/subwindows/ui_fourChartSettings_ui.py
gui/resources_rc_rc.py


/settings.json
